@charset "UTF-8";
.container {
	background-color: black;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	border-bottom-width: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	display: block;
}
.primary_header {
	width: 100%;
	height: 30%;
	background-color: #B22222;
	padding-top: 1px;
	padding-bottom: 1px;
	clear: left;
	border-bottom: 2px solid #2F4F4F;
}
.primary_header img{
	margin: 0px auto;
	/*display: block;*/
	float: center;
}
.secondary_header {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 35px;
	background-color: black;
	clear: left;
}
.container .secondary_header ul {
	margin-top: 0%;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-left: 0px;
	width: 100%;
}
.secondary_header ul li {
	list-style: none;
	float: left;
	margin-right: auto;
	margin-top: 5px;
	font-family: "Source Sans Pro";
	font-weight: normal;
	color: #FFFFFF;
	letter-spacing: 1px;
	margin-left: auto;
	text-align: center;
	width: 11%;
	transition: all 0.3s linear;
}
.secondary_header ul li:hover {
	color: #717070;
	cursor: pointer;
}
.secondary_header ul li.active {
    color: #717070;
}
.form{
	float: right;
	color : white;
	background-color:white;
	text-align: right;
	text-shadow: left;
	margin-top: 40px;
	margin-right: 1px;
	border: 1px solid #ddd;
}
.search{
	padding:2px 7px;
	background:white;
	border:0px solid white;
}
.button {
	position:relative;
	padding:3px 13px;
	left:1px;
	top: 1px;
	border:1px solid white;
	background-color:black;
	color:white;
}
.button:hover {
	background-color:#2F4F4F;
	color:white;
}
webkit-input-placeholder { /* For WebKit browsers */
	color:  #dd3333;
	font-family:Helvetica Neue;
	font-weight:bold;
}
moz-placeholder { /* For Mozilla Firefox 4 to 18 */
	color:    #dd3333;
	font-family:Helvetica Neue;
	font-weight:bold;
}
moz-placeholder { /* For Mozilla Firefox 19+ */
	color:    #dd3333;
	font-family:Helvetica Neue;
	font-weight:bold;
}
ms-input-placeholder { /* For Internet Explorer 10+ */
	color:    #dd3333;
	font-family:Helvetica Neue;
	font-weight:bold;
}
.text_column {
	width: 90%;
	text-align: left;
	font-weight: lighter;
	line-height: 25px;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	color: #A3A3A3;
}
.gallery {
	clear: both;
	display: inline-block;
	width: 100%;
	background-color:#696969;
	/* [disabled]min-width: 400px;
*/
	padding-bottom: 35px;
	padding-top: 0px;
	margin-top: -5px;
	margin-bottom: 0px;
	text-align: center;
}
.thumbnail {
	width: 53%;
	text-align: center;
	float: left;
	margin-top: 35px;
	background-color: black;
	padding-bottom: 20px;
	margin-left: 26%;
	margin-right: 1%;
	border-radius: 3px;
	padding-top: 20px;
	border-bottom: 4px solid white;
}
.gallery .thumbnail h4 {
	margin-top: 5px;
	margin-bottom: 5px;
	color: white;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
}
.gallery .thumbnail p {
	margin: 0;
	color: #B3B3B3;
	text-align: left;
	padding-left: 20px;
	/*white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;*/
}
.cards {
	width: 100%;
	height: 100%;
	max-width: 300px;
	max-height: 300px;
	opacity: 0.8;
}
.pagination{
	left: 50%;
}
.pagination,.pagination ul {
    float: left;
    position: relative;
}

.pagination ul {
	left: -50%;
}
.pagination a {
    color: white;
    background-color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #778899;
    color: white;
    border: 1px solid white;
}

.pagination a:hover:not(.active){
	background-color: #ddd;
}
.footer {
	background-color: black;
	margin-bottom: 10px;
}
.copyright {
	text-align: center;
	background-color: #B22222;
	color: #FFFFFF;
	/*text-transform: uppercase;*/
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
	font-family: "Source Sans Pro";
}
body {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-image: url(back.jpg);
	background-position: right top;
	background-color: black;
}